<section class="section__contact">
  <div class="container">
    <h2>Contact</h2>
    <p>If you'd like to get in touch, you can use one of these handy buttons...</p>
    <div class="contact-btn">
        <div class="btn-wrapper"><a class="btn btn-twitter" href="https://twitter.com/harrisonmike">Twitter</a></div>
        <div class="btn-wrapper"><a class="btn btn-facebook" href="https://www.facebook.com/mikejh.elt">Facebook</a></div>
        <div class="btn-wrapper"><a class="btn btn-mail" href="mailto:mjah84@gmail.com">Email me</a></div>
    </div>
  </div>
</section>
