<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="twitter:card" content="Mike Harrison, ELT freelancer for hire" />
<meta name="twitter:site" content="@nharrisonmike" />
<meta name="twitter:creator" content="@harrisonmike" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:title" content="Mike Harrison, ELT freelancer for hire" />
<meta property="og:description" content="Miker Harrison is a teacher, trainer and materials writer." />
<meta property="og:image" content="../img/og-img.png" />
