<section class="section__training">
  <div class="container">
    <h2>Training</h2>
    <p><strong>Erasmus+</strong> courses on <strong>technology-enhanced learning</strong> at York Associates.</p>
    <p><strong>Regular presenter</strong> at conferences in the UK and Europe, including...</p>
    <ul>
      <li>IATEFL (2015, 2013, 2012)</li>
      <li>NATECLA (2014, 2013)</li>
      <li>TESOL France (2013, 2011)</li>
      <li>IATEFL Slovenia (2016, 2015)</li>
      <li>IATEFL Hungary (2014, 2013)</li>
      <li>IATEFL Poland (2013, 2015)</li>
      <li>among others...</li>
    </ul>
  </div>
</section>
