<section class="section__writing">
  <div class="container">
    <h2>Writing</h2>
    <p>I have been involved in a number of different projects, with particular focus on creating digital materials to support learners in hard-to-reach communities.</p>
    <p>Credits include...</p>
    <ul>
      <li>writing spreads for the Workbook for the National Geographic Learning series <em>Keynote</em></li>
      <li>producing the BBC Learning English project <em>Learning Circles</em></li>
      <li>creating content as head writer for the <em>Cambridge English Facebook Page</em></li>
      <li>IATEFL Slovenia (2016, 2015)</li>
      <li>IATEFL Hungary (2014, 2013)</li>
      <li>IATEFL Poland (2013, 2015)</li>
      <li>among others...</li>
    </ul>
  </div>
</section>
