section.section__blurb {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../img/mike-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .section__container {
    max-width: 80%;
    align-self: flex-end;
  }
}
