section.section__footer {
  height: 100px;
  background-image: url('../img/bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}
