---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/main.css">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="twitter:card" content="Mike Harrison, ELT freelancer for hire" />
  <meta name="twitter:site" content="@nharrisonmike" />
  <meta name="twitter:creator" content="@harrisonmike" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:title" content="Mike Harrison, ELT freelancer for hire" />
  <meta property="og:description" content="Miker Harrison is a teacher, trainer and materials writer." />
  <meta property="og:image" content="../img/og-img.png" />
</head>

<body>
    <div class="container__home">
      <div class="site--title">
        <h1>{{ site.tag_text }}</h1>
        <h3>{{ site.owner.bio }}</h3>
      </div>
    {{ content }}
    </div>
  {% include scripts.html %}
</body>
</html>
